@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Colors */
body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.centered {
  text-align: center;
  margin: 0 auto;
}

.full-width {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.container {
  max-width: 1410px;
}

.container--small {
  max-width: 1000px;
}

.container--medium {
  max-width: 1150px;
}

.col__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .col__wrapper {
    display: block;
  }
}

.col__twenty-five,
.col__fifty {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col__twenty {
  width: 20%;
}

.col__fourty {
  width: 40%;
}

.col__thirtythree {
  width: 33.3333%;
}

.col__twenty-five {
  width: 25%;
}

.col__fifty {
  width: 50%;
}

.table {
  display: table;
}

.table--cell {
  display: table-cell;
}

.borderless {
  border: 0;
}

.rounded-corners {
  border-radius: 32px;
}

.uppertext {
  text-transform: uppercase;
}

.space__one-hundred {
  margin-top: 100px;
}

@media (max-width: 768px) {
  .space__one-hundred {
    margin-top: 50px;
  }
}

.btn {
  font-weight: bold;
  text-decoration: none;
  padding: 15px 20px;
  display: inline-block;
  min-width: 180px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .btn {
    min-width: 110px;
  }
}

.btn--info {
  background-color: #0eb670;
  border: 2px solid;
  border-color: #22cf87;
}

.btn--danger {
  background-color: #c71e37;
  border-radius: 20px;
  padding: 5px 0;
  border-bottom: 5px solid;
  border-color: #920b1f;
}

@media (max-width: 768px) {
  .btn--danger {
    min-width: 150px;
  }
}

@media (max-width: 768px) {
  .desktop-only {
    display: none !important;
  }
}

.mobile-only {
  display: none !important;
}

@media (max-width: 768px) {
  .mobile-only {
    display: block !important;
  }
}

@media (max-width: 768px) {
  .col__twenty,
  .col__twenty-five,
  .col__thirtythree,
  .col__fourty,
  .col__fifty {
    width: 100%;
  }
}

*,
html,
body {
  font-size: 15px;
  font-family: "Open Sans", serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #004991;
  margin-bottom: 20px;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: 63px;
  line-height: 1.16;
}

@media (max-width: 768px) {
  h1 {
    font-size: 27.72px;
  }
}

h2 {
  font-size: 50px;
  line-height: 1.3;
}

@media (max-width: 768px) {
  h2 {
    font-size: 30px;
  }
}

h3 {
  font-size: 24px;
  line-height: 1.6;
}

@media (max-width: 768px) {
  h3 {
    font-size: 19.2px;
  }
}

h4 {
  font-size: 20px;
  line-height: 1.6;
}

@media (max-width: 768px) {
  h4 {
    font-size: 16px;
  }
}

h5 {
  font-size: 15px;
  line-height: 1.4;
}

@media (max-width: 768px) {
  h5 {
    font-size: 12px;
  }
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: #4d5059;
  margin-bottom: 20px;
}

p:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  p {
    font-size: 14.4px;
  }
}

b {
  font-weight: bold;
}

.inverse {
  color: #ffffff !important;
}

a {
  color: #004991;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

a:hover {
  color: #00162b;
}

#hero {
  background-image: url(../img/hero_bg_desktop.png);
  padding-top: 100px;
  padding-bottom: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#hero .one-line {
  position: relative;
  max-width: 440px;
  margin-top: 20px;
}

#hero .one-line button {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 120px;
  padding: 15px 15px;
  background-color: #50bae7;
  font-weight: bold;
}

#hero .one-line input[type="email"] {
  padding: 20px;
  padding-right: 130px;
  border: 1px solid;
  border-color: #50bae7;
}

@media (max-width: 768px) {
  #hero .red-gifts {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin-top: 50px;
  }
  #hero .red-gifts img {
    margin-top: 60px;
  }
}

#hero .red-gifts--col {
  width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

#hero .red-gifts--col a span {
  display: block;
  font-weight: normal;
}

#hero .red-gifts--col a span:first-child {
  font-size: 26px;
}

@media (max-width: 768px) {
  #hero {
    padding-top: 60px;
    padding-bottom: 30px;
    background-position: revert;
  }
}

#layers {
  padding-top: 100px;
  padding-bottom: 100px;
}

#layers .selector {
  display: table;
  width: 100%;
  position: relative;
}

#layers .selector .selector--row {
  display: table-row;
  position: relative;
}

#layers .selector .selector--row .mattress {
  list-style: none;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  display: table-cell;
  vertical-align: bottom;
  padding-bottom: 5px;
  position: relative;
}

@media (max-width: 768px) {
  #layers .selector .selector--row .mattress {
    background-size: 160% !important;
    background-position: 90% 60% !important;
    height: 40px !important;
    text-align: left;
    padding-left: 10px;
  }
}

#layers .selector .selector--row .mattress .mattress__details {
  box-shadow: 2px 3px 19px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 3px 19px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 19px 0px rgba(0, 0, 0, 0.75);
  position: absolute;
  left: 63%;
  width: 200px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.9);
  top: 2px;
  border-radius: 10px;
  padding: 5px 10px;
  text-align: left;
  display: none;
  z-index: 99;
}

#layers .selector .selector--row .mattress .mattress__details p {
  font-size: 10px;
}

#layers .selector .selector--row .mattress .mattress__details h5 {
  margin-bottom: 0px;
}

#layers .selector .selector--row .mattress .mattress__details--active {
  display: block;
}

#layers .selector .selector--row .mattress--cooling {
  height: 100px;
  background-image: url("../img/layers/1st.png");
}

#layers .selector .selector--row .mattress--comfort {
  height: 40px;
  background-image: url("../img/layers/2nd.png");
  background-position-y: -116px;
}

#layers .selector .selector--row .mattress--core {
  height: 45px;
  background-image: url("../img/layers/4th.png");
  background-position-y: -108px;
}

#layers .selector .selector--row span {
  font-size: 14px;
  display: inline-block;
  margin-left: 10px;
  padding: 3px 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  color: #004991;
  font-weight: bold;
}

@media (max-width: 768px) {
  #layers .selector .selector--row span {
    font-size: 10px;
    margin-left: 0px;
    padding: 6px;
  }
}

#layers .selector .selector--row a {
  background: #ffffff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: inline-block;
  line-height: 100%;
  color: #004991;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  position: relative;
  font-size: 16px;
}

#layers .selector .selector--row a:hover {
  background: #004991;
  color: #ffffff;
}

#layers .selector .selector--row a:before,
#layers .selector .selector--row a:after {
  content: "";
  width: 17px;
  height: 17px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

#layers .selector .selector--row a:after {
  width: 22px;
  height: 22px;
}

@media (max-width: 768px) {
  #layers .selector--second .selector--row .mattress {
    background-position: revert !important;
    background-position-y: 63% !important;
    text-align: right;
  }
}

#layers .pricess {
  max-width: 270px;
  margin-bottom: 20px;
}

#layers .pricess .pricess__before {
  font-size: 12px;
  margin-bottom: 0;
}

#layers .pricess .pricess__before span {
  text-decoration: line-through;
}

#layers .pricess .pricess__now {
  color: #eb505b;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

#layers .pricess .pricess__or {
  position: relative;
  line-height: 80px;
  font-size: 12px;
}

#layers .pricess .pricess__or:before, #layers .pricess .pricess__or:after {
  content: "";
  width: 1px;
  height: 25px;
  background: #4d5059;
  position: absolute;
  top: 0;
  z-index: 99;
  left: 50%;
}

@media (max-width: 768px) {
  #layers .pricess .pricess__or:before, #layers .pricess .pricess__or:after {
    width: 25px;
    height: 1px;
    top: 50%;
    bottom: auto;
    left: 20%;
    right: auto;
  }
}

#layers .pricess .pricess__or::after {
  bottom: 0;
  top: auto;
}

@media (max-width: 768px) {
  #layers .pricess .pricess__or::after {
    bottom: auto;
    top: 50%;
    right: 20%;
    left: auto;
  }
}

@media (max-width: 768px) {
  #layers .pricess .pricess__or {
    line-height: 40px;
  }
}

@media (max-width: 768px) {
  #layers .pricess {
    display: block !important;
  }
}

@media (max-width: 768px) {
  #layers {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 768px) {
  #layers .col__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#layers .col__wrapper .col__fifty {
  width: 50% !important;
  padding: 0 !important;
}

#stos p {
  text-align: left;
  text-align: justify;
}

@media (max-width: 768px) {
  #stos p {
    padding-left: 15px;
    padding-right: 15px;
  }
}

#stos .stats {
  color: #004991;
  font-size: 0;
}

#stos .stats b {
  font-size: 15px;
  display: inline-block;
  min-width: 255px;
}

@media (max-width: 768px) {
  #stos .stats b {
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
  }
}

#stos .stats .stats__bar {
  display: inline-block;
  width: 230px;
  margin-left: 10px;
}

#stos .stats .stats__bar span {
  display: inline-block;
  padding: 10px;
  font-size: 13px;
  background-color: #50bae7;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  text-align: right;
}

#stos .stats .stats__bar span:first-child {
  background-color: #004991;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  text-align: left;
}

@media (max-width: 768px) {
  #stos .stats .stats__bar {
    width: 100%;
  }
}

#stos .stats--avg .stats__bar span {
  width: 50%;
}

#stos .stats--avg .stats__bar span:first-child {
  width: 30%;
}

#stos .stats--time .stats__bar span {
  width: 30%;
}

#stos .stats--time .stats__bar span:first-child {
  width: 52%;
}

#stos .stats--night .stats__bar span {
  width: 22%;
}

#stos .stats--night .stats__bar span:first-child {
  width: 58%;
}

#stos .stats--back .stats__bar span {
  width: 30%;
}

#stos .stats--back .stats__bar span:first-child {
  width: 52%;
}

#reasons h4 {
  color: #4d5059;
  font-weight: bold;
}

#reasons img {
  height: 60px;
  width: auto;
}
/*# sourceMappingURL=style.css.map */