/* Colors */
$color__background-body: #ffffff;
$color__body-text: #4d5059;
$color__site-primary: #004991;
$color__site-primary--inverse: #ffffff;
$color__site-secondary: #50bae7;
$color__site-info: #0eb670;
$color__site-info--light: #22cf87;
$color__site-danger: #920b1f;
$color__site-danger--light: #eb505b;
$color__site-danger--medium: #c71e37;
