@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
$base__font-family: "Open Sans", serif;
$base__font-size: 15px;
$base__line-height: 1.6;
$base__margin-bottom: 20px;

$p_font-size: 18px;

$h1__font-size: 63px;
$h2__font-size: 50px;
$h3__font-size: 24px;
$h4__font-size: 20px;
$h5__font-size: 15px;

$h1__line-height: 1.16;
$h2__line-height: 1.3;
$h3__line-height: 1.6;
$h4__line-height: 1.6;
$h5__line-height: 1.4;

// Make type normal across browsers
*,
html,
body {
  font-size: $base__font-size;
  font-family: $base__font-family;
  line-height: $base__line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: $color__site-primary;
  margin-bottom: $base__margin-bottom;
  &:first-child {
    margin-top: 0;
  }
}

h1 {
  font-size: $h1__font-size;
  line-height: $h1__line-height;
  @include md {
    font-size: $h1__font-size * 0.44;
  }
}

h2 {
  font-size: $h2__font-size;
  line-height: $h2__line-height;
  @include md {
    font-size: $h2__font-size * 0.6;
  }
}

h3 {
  font-size: $h3__font-size;
  line-height: $h3__line-height;
  @include md {
    font-size: $h3__font-size * 0.8;
  }
}

h4 {
  font-size: $h4__font-size;
  line-height: $h4__line-height;
  @include md {
    font-size: $h4__font-size * 0.8;
  }
}

h5 {
  font-size: $h5__font-size;
  line-height: $h5__line-height;
  @include md {
    font-size: $h5__font-size * 0.8;
  }
}

p {
  font-size: $p_font-size;
  font-weight: 400;
  line-height: $base__line-height;
  color: $color__body-text;
  margin-bottom: $base__margin-bottom;
  &:last-of-type {
    margin-bottom: 0;
  }
  @include md {
    font-size: $p_font-size * 0.8;
  }
}

b {
  font-weight: bold;
}

.inverse {
  color: $color__site-primary--inverse !important;
}

// Links
a {
  color: $color__site-primary;
  transition: all 0.2s ease;

  &:hover {
    color: darken($color__site-primary, 20%);
  }
}
